export(cde, cde.bandwidths, hdr, hdr.boxplot, hdr.boxplot.2d, hdr.cde, hdr.den, hdrconf,
       plot.cde, plot.hdrconf, modalreg, hdrbw, BoxCox, InvBoxCox)

S3method(plot,hdrconf)
S3method(print,cde)
S3method(plot,cde)


